@use "../util" as *;

.guess {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: rem(3);
    width: rem(300);

    &__tile {
        border: rem(2) solid hsl(0, 0%, 46%);
        // border: rem(2) solid #424242;
        width: rem(52);
        height: rem(52);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: rem(32);
        font-weight: 600;
    }

    .correct {
        background-color: hsl(120, 100%, 28%);
        border-color: hsl(120, 100%, 28%);
    }

    .included {
        // background-color: hsl(49, 51%, 47%);
        background-color: hsl(51, 90%, 51%);
        border-color: hsl(51, 90%, 51%);
    }

    .notIncluded {
        background-color: hsl(0, 0%, 35%);
        border-color: hsl(0, 0%, 35%);
    }
}

.buttonClass {
    margin-top: 20px;
}

.pushable {
    background: hsl(340deg 100% 32%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}
.front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: hsl(345deg 100% 47%);
    color: white;
    transform: translateY(-6px);
}

.pushable:active .front {
    transform: translateY(-2px);
}
