/* @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap"); */

@font-face {
    font-family: "DMSerif";
    src: url(./assets/fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
}

/* will affect styling of all of the DOM elements */
* {
    /* margin: 0; */
    /* padding: 0; */
}

body {
    font-family: "DMSerif", Verdana;
    /* larger images ought to be imported in css background for better performance
    smalle images in HTML DOM */
    /* background: url(./assets/img/matakaev.jpg) no-repeat center/cover; */
    background: url(./assets/img/matakaev2.jpg) no-repeat center/cover;
    min-height: 100vh;
    /* VH = viewport height, 100% screen size */
    /* background: wheat; */
}

h1 {
    text-transform: uppercase;
    text-decoration: underline;
    /* text-decoration: overline; */
    letter-spacing: 3px;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 5px 2px 8px #00000042;
    color: #ab0ef4;
    /* color: rgba(140, 10, 29); */
    /* color: rgba(140, 10, 29, 0.459); */
    /* color: rebeccapurple; */
    font-family: "Oswald", sans-serif;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

main {
    min-height: 500px;
    width: 90%;
    background: rgba(245, 245, 245, 0.5);
    margin: 0 auto;
    padding: 15px;
    border: sienna solid 2px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 10px sienna;
}

h2 {
    margin: 0;
}

.flexbox,
.grid {
    border: 3px solid skyblue;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.flexbox ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.flexbox li {
    list-style: none;
    height: 160px;
    width: 160px;
    margin: 10px;
    background: turquoise;
    /* active flex display interface */
    display: flex;
    /* center horizontally text content */
    justify-content: center;
    /* center vertically text content */
    align-items: center;
}

/* .grid h2{
    display: inline;
    text-align: center;
    padding: 0;
    border: 3px solid skyblue;
    border-radius: 10px;
} */

.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
}

.grid img {
    /* height: 100px; */
    width: 70%;
}
